XamarinUYMobileCenter/packages/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter.Android/bin/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter.Android/obj/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter.iOS/obj/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter.UWP/obj/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter/bin/
XamarinUYMobileCenter/XamarinUYMobileCenter/XamarinUYMobileCenter/obj/
XamarinUYMobileCenter/XamarinUYMobileCenter.UITest/obj/
